/* .App{
  background: #F8F5F3;
}

.header{
 background: #355470;
 display: flex;
 justify-content: space-around;
 align-items: center;
 box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
}
.header h1{
  color: #F8F5F3;
  font-size: 36px;
  margin-left: 20px;
}
.headerNav a{
  color: #F8F5F3;
  text-decoration: none;
  margin: 0px 40px;
  font-size: 24px;
  
} */
/* .apodContent{
  margin: 0% auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* .apod{
  margin: 0% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #0A2135;
}
 .apodImg{
  max-width: 500px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.25);
}
.imgText{
  max-width: 1000px;
  margin: 0% auto;
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: .1rem;
}

.footerNav{
  margin-top: 15px;
  background: #355470;
  color: #F8F5F3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
  box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.25);
}

.footerNav a{
  color: #F8F5F3;
  text-decoration: none;
  font-size: 13px;
}
 a:hover{
  color: #37F578;
} */

/* .author{

}
.official{

}
.serviceOf{

}

.privacyPolicy{

} */












/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
